<h1><%= @title %></h1>

<%= form_for(:session, :url => sessions_path) do |f| %>
	<div class="field">
		<%= f.label :email %><br />
		<%= f.text_field :email %>
	</div>
	<div class="field">
		<%= f.label :password %><br />
		<%= f.text_field :password %>
	</div>
	<div class="field">
		<%= f.submit "Sign in" %>
	</div>
	
	<p>Don't have an account? <%= link_to "Sign up", signup_path %> today!</p>
<% end %>
