<h1><%= @title %></h1>

<%= form_for(@user) do |f| %>
	<%= render 'shared/error_message', :object => f.object %>
	<%= render 'fields', :f => f %>
	<div class="actions">
		<%= f.submit "Sign up" %><br />
	</div>
<% end %>
